// MessageList styles
.message-list {
  flex: 1;
  padding: 16px 0 8px;
  overflow-y: auto;

  .message {
    padding: 6px 16px;
    margin-bottom: 0;

    &.message--group-start {
      margin-top: 12px;
    }

    .username {
      font-weight: bold;
      color: var(--text-primary);
    }

    .emote {
      height: 1em;
      vertical-align: middle;
    }
  }
}