// ServerList styles
.server-list {
  width: 72px;
  background-color: $discord-darker;
  padding: 12px 0;

  .server-item {
    height: 48px;
    width: 48px;
    background-color: $discord-light;
    border-radius: 50%;
    margin: 12px;
    cursor: pointer;
    @include flex-center;

    &.active {
      background-color: $discord-accent;
    }
  }
}